
html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height:100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #ac66cc;
}
main {
  
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #ac66cc;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: black;
}
/* Header */
header a {
  color: #ffffff;
  font-size: 2rem;
  padding: 1rem;
}
header a:hover{
  color:#ffed99;
}
a.brand {
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge{
  background-color: red ;
  color:white;
  border-radius: 50%;
  padding:0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}
input,
select,
textarea,
button{
  padding:1rem;
  border-radius: 0.5rem;
  border:0.1rem pink solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ac66cc;
  color:white;
  cursor:pointer;
}
button.block{
  width:100%;
}
input:hover,
select:hover,
textarea:hover,
button:hover{
  background-color: violet;
}

img.large{
  width:600px;
  height: 600px;
  width:100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}
.col-1{
  flex:1 1 25rem;
  padding-left: 2rem;
  padding-top: 7.2rem;
}
.col-2{
  flex:2 1 50rem;
}
.min-30{
  min-width: 30rem;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.small{
  max-width: 10rem;
  width:100%
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #f6b8b8 solid;
  background-color: #fadadd;
  border-radius: 0.5rem;
  margin: 1rem;
}

.in{
  background-color: white;
  text-align: left;
}
.card-body {
  text-align: center;
  
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  text-align: center;

  font-size: 2rem;
}

/*Form*/
.form{
  max-width:60rem;
  margin:0 auto;
}
.form>div{
  display:flex;
  flex-direction: column;
  margin:1rem;
}
.form label{
  margin:1rem 0;
}
input{
  background-color: white;
  border:1px solid purple;
  color:black;

}
input:hover{
  background-color: white;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.loading{
  display:block !important;
}
/*Checkout Steps*/
.checkout-steps>div{
  border-top: 0.3rem #c0c0c8 solid;
  color:#c0c0c8;
  flex:1;
  padding:1rem;
  font-weight: bold;

  
}
.checkout-steps>div.active{
  border-top-color:purple;
  color:purple;
  font-weight: bold;
}
input{
  background-color: white;
}
/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.info{
  background-color: white;
}
.adminC{
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  width: 90%;


}
 th,td {
  border: 0.2px solid purple;
  text-align: center;
}
th{
  border-bottom:0.2px solid purple;
  border-top: none;
  
}
td:nth-child(4){
  border-bottom:none;
  border-top: none;
  border-right: none;
  border-left: none;

}

.o{
  text-align: center;
  font-size: xx-large;
}
.buttonS{
  margin:10px;
  border:none;
}
td,th{
  border-bottom:0.2px solid black;
  border-top: none;
  border-right: none;
  border-left: none;

}
.ord.td:nth-child(3){
  border-bottom:none;
  border-top: none;
  border-right: none;
  border-left: none;

}

.headerimg{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
.headerh1{
  font-size: 5rem;
  text-align: center;
  text-decoration: underline solid #ac66cc;

}
.productName{
  font-size: 2.2rem;
}
.price{
  font-size: 2rem;
}
.clo{
  font-size: 3rem;

}
.user-i{
  font-size: 3rem;


}